.one{
  width: 200px;
  height: 200px;
  background-color: pink;
}

.two{
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.three{
  width: 200px;
  height: 200px;
  background-color: red;
}

.four{
  width: 200px;
  height: 200px;
  background-color: green;
}

.one{
  float: right;
}


#three2:hover{
background-color: blue;
width: 600px;

}
#four2:hover{
  background-color: black;
  width: 50px;
}
